/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 260px;
  width: auto;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

}

/* Header */
header {
    background-color: #007acc;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.name {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 600;
}

.title {
    font-size: 1.5rem;
    font-weight: 300;
}

.education {
    font-size: 1rem;
    font-weight: 300;
    color: #ddd;
}

/* About Section */
.about {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1rem;
    color: #666;
}

/* Skills Section */
.skills {
    padding: 40px 0;
    text-align: center;
    background-color: #fff;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    background-color: #007acc;
    color: #fff;
    border-radius: 5px;
}

/* Projects Section */
.projects {
    padding: 40px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.5rem;
    color: #007acc;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1rem;
    color: #666;
}

/* Contact Section */
.contact {
    padding: 40px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.1rem;
}

.contact a {
    color: #007acc;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    padding: 20px 0;
    text-align: center;
    background-color: #007acc;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
